<%= simple_form_for :teacherteam, url: '/teacherteam_import/teacherteam_import',
                    wrapper: :vertical_form,
                    as: 'user_vertical',
                    html: { multipart: true, class: 'form-vertical' },
                    wrapper_mappings: {
	                    check_boxes: :horizontal_radio_and_checkboxes,
	                    radio_buttons: :horizontal_radio_and_checkboxes,
	                    file: :horizontal_file_input,
	                    boolean: :horizontal_boolean
                    } do |f| %>

    <%= f.error_notification %>

    <%= f.input :file, as: :file, label: 'Import-Datei' %>

    <p>&nbsp;</p>

    <!-- <%= f.button :submit, 'Lehrer-/Klassenverbindungen prüfen', name: 'check', class: 'btn btn-primary' %> -->

    <%= f.button :button, 'Lehrer-/Klassenverbindungen prüfen'.html_safe, name: 'check', class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Lehrer-/Klassenverbindungen werden geprüft ..."} %>

<% end %>

<p>&nbsp;</p>

<%= link_to "Lehrer-/Klassenverbindungen importieren", '/teacherteam_import/teacherteam_import', method: :post, :class => 'btn btn-warning' %>
<%= link_to "Alle bestehenden Lehrer-/Klassenverbindungen löschen", '/teacherteam_import/delete_all_teacherteams', method: :delete, data: { commit: "Alle Einträge definitiv löschen", cancel: "Abbrechen", confirm: 'Sind Sie sicher?'} , :class => 'btn btn-danger' %>
