<%= simple_form_for :manage_reservations, url: '/studman/manage_reservations_slot_date_changed', remote: true,
                    wrapper: :horizontal_form,
                    html: { class: 'form-horizontal' } do |f| %>

    <%= f.input :slot_date, selected: @slot_date, collection: @slot_datelist, label: false, input_html: { style: 'width: 200px', onchange: 'this.form.submit()' }, required: false  %>
    <%= token_tag nil %>

<% end %>

<table class="table table-bordered" valign="middle">
    <tr>
        <td><strong>Legende</strong></td>
        <td class="active"><%= link_to "#", class: 'btn btn-xs btn-primary' do %><span class="glyphicon glyphicon-minus" aria-hidden="true"></span><% end %> Reservation löschen</td>
        <td class="active"><%= link_to "#", class: 'btn btn-xs btn-primary' do %><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><% end %> Reservation tätigen</td>
        <td class="active"></td>
    </tr>
    <tr>
        <td></td>
        <td class="info">Reservation erfolgt</td>
        <td class="success">Lehrkraft verfügbar</td>
        <td class="danger">Lehrkraft <strong>NICHT</strong> verfügbar</td>
    </tr>
</table>

<table class="table table-striped table-bordered" valign="middle">

    <thead>
    <tr>
        <th>von</th>
        <th>bis</th>
	    <% @teacherteam_list.each do |teacherteam| %>
		    <% teacher = Teacher.find(teacherteam.teacher_id) %>
		    <% firstnamename = "%s %s" % [teacher.firstname, teacher.name] %>
            <th><%= link_to teacher.abbreviation, "#", class: "has-tooltip", :data => {:toggle => "tooltip"}, 'data-original-title' => firstnamename, 'data-placement' => 'top'%></th>
        <% end %>
    </tr>
    </thead>

    <tbody>
    <% last_to_datetime = nil %>
    <% @slot_list.each do |slot| %>
        <% from_datetime = slot.from_time %>
        <% to_datetime = slot.to_time %>
	    <% if last_to_datetime != nil && last_to_datetime!= from_datetime %>
            <tr><td colspan="<%= (@teacherteam_list.length+2).to_s %>"></td></tr>
		<% end %>
	    <% last_to_datetime = to_datetime %>
        <tr>
            <td><%= getNiceTimeString(from_datetime) %></td>
            <td><%= getNiceTimeString(to_datetime) %></td>
	        <% reservations = Reservation.where(event_id: getStudmanLoginEventId, slot_id: slot.id, student_id: getStudmanLoginId) %>
	        <% reservation = nil %>
            <% if reservations.length > 0 %>
                <% slot_no_reservation_possible = true %>
		        <% reservation = reservations[0] %>
            <% else %>
                <% slot_no_reservation_possible = false %>
		    <% end %>
			<% @teacherteam_list.each do |teacherteam| %>
				<% reservations = Reservation.where(event_id: getStudmanLoginEventId, slot_id: slot.id, teacher_id: teacherteam.teacher_id) %>
				<% if reservations.length == 0 %>
					<td class="active"></td>
                <% else %>
			        <% reservation = reservations[0] %>
				    <% color_class = reservation.getReservationAvailabilityColor reservation.status %>
			        <% if !slot_no_reservation_possible && !(@teacher_already_reserved_list.include? teacherteam.teacher_id) && (reservation.status == Reservation::RESERVATION_AVAILABILITY_AVAILABLE) && (reservation.student_id == nil) %>
                        <% book_url = '/studman/manage_reservations_reservation_book?slot_id=%d&teacher_id=%d' % [slot.id, teacherteam.teacher_id] %>
                        <td class="<%= color_class %>">
	                        <%= link_to book_url, class: 'btn btn-xs btn-primary' do %>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		                    <% end %>
                        </td>
			        <% elsif reservation!= nil && reservation.student_id == getStudmanLoginId %>
                        <% cancel_url = '/studman/manage_reservations_reservation_cancel?reservation_id=%d' % [reservation.id] %>
                        <td class="<%= reservation.getReservationAvailabilityColor Reservation::RESERVATION_AVAILABILITY_BOOKED %>">
                            <%= link_to cancel_url, class: 'btn btn-xs btn-primary' do %>
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            <% end %>
                        </td>
                    <% else %>
                        <% color_class = reservation.getReservationAvailabilityColor Reservation::RESERVATION_AVAILABILITY_NOT_AVAILABLE %>
                        <td class="<%= color_class %>"></td>
				    <% end %>
				<% end %>
            <% end %>
		</tr>
	<% end %>

    </tbody>

</table>

<%= link_to studman_overview_path, class: 'btn btn-sm btn-primary' do %>
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück zur Übersicht
<% end %>
