<table class="table table-striped" valign="middle">
  <thead>
  <tr>
    <th>ID</th>
	<th>Code</th>
	<th>Vorname</th>
    <th>Name</th>
    <th>Klasse</th>
    <th>Email</th>
	<th>Letzte Änderung</th>
    <th>durch</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
     <tr>
        <td><%= link_to student.id, student_path(student) %></td>
        <td><%= student.code %></td>
	    <td><%= student.firstname %></td>
        <td><%= student.name %></td>
        <th><%= student.team.title %></th>
        <td><%= student.email %></td>
        <td><%= changeduser = User.new; changeduser.getFirstnameAndNameString(student.changed_id) %></td>
        <td><%= getNiceDateString(student.updated_at) %></td>
        <td><%= link_to 'Anzeigen', student_path(student), :class => 'btn btn-sm btn-info'  %></td>
        <td><%= link_to 'Ändern', edit_student_path(student) , :class => 'btn btn-sm btn-primary' %></td>
        <td><%= link_to 'Löschen', student, method: :delete, data: { commit: "Eintrag definitiv löschen", cancel: "Abbrechen", confirm: 'Sind Sie sicher?'} , :class => 'btn btn-sm btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Neuen Schüler anlegen', new_student_path, :class => 'btn btn-primary' %>

<p>&nbsp;</p>

<div><%= will_paginate @students, renderer: BootstrapPagination::Rails %><div>