<%= simple_form_for :select_student_reservations, url: '/cockpit/select_student_reservations',
                    wrapper: :horizontal_form,
                    html: { class: 'form-horizontal' } do |f| %>


    <%= f.input :firstname, label: 'Vorname', placeholder: 'Vorname', input_html: { value: @search_firstname, maxlength: 20, style: 'width: 300px' }, required: false %>

    <%= f.input :name, label: 'Name', placeholder: 'Name', input_html: { value: @search_name, maxlength: 20, style: 'width: 300px'  }, required: false %>

    <%= f.input :team_id, label: 'Klasse', selected: @search_team_id, collection: getTeamCollectionbyEventId(getLoginEventId), include_blank: true, input_html: { style: 'width: 300px'  }, required: false %>

    <div class="row">
      <div class="col-md-3">
        &nbsp;
      </div>
      <div class="col-md-9">
        <%= f.button :submit, 'Schüler suchen', class: 'btn btn-info' %>
      </div>
    </div>

<% end %>

<p>&nbsp;</p>

<% if @student_list.length != 0 %>

<table class="table table-striped" valign="middle">
<thead>
<tr>
    <th>Code</th>
    <th>Vorname</th>
    <th>Name</th>
    <th>Klasse</th>
    <th>&nbsp;</th>
</tr>
</thead>

<tbody>
<% @student_list.each do |student| %>
    <tr>
        <td><%= student.code %></td>
        <td><%= student.firstname %></td>
        <td><%= student.name %></td>
        <th><%= student.team.title %></th>
	    <% view_student_reservations_link = "view_student_reservations/%d" % [student.id]%>
        <td><%= link_to 'Reservationen', view_student_reservations_link, :class => 'btn btn-sm btn-info'  %></td>
    </tr>
<% end %>
</tbody>
</table>

<% end %>

<p>&nbsp;</p>
<%= link_to cockpit_path, class: 'btn btn-sm btn-primary' do %>
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück zur Übersicht
<% end %>
