<%= simple_form_for :view_student_reservations, url: '/cockpit/view_student_reservations_slot_date_changed', remote: true,
                    wrapper: :horizontal_form,
                    html: {class: 'form-horizontal'} do |f| %>

    <%= f.input :slot_date, selected: @slot_date, collection: @slot_datelist, label: false, input_html: {style: 'width: 300px', onchange: 'this.form.submit()'}, required: false %>
    <%= token_tag nil %>

<% end %>

<% student = Student.find(@student_id) %>
<% team = Team.find(student.team_id) %>
<strong><%= student.firstname %> <%= student.name %>, <%= team.title %></strong>
<p>&nbsp;</p>

<table class="table table-striped table-bordered" valign="middle">

  <thead>  
  <tr>
    <th>von</th>
    <th>bis</th>
    <th>Reservation</th>
    <th>Raum</th>
  </tr>
  </thead>

  <tbody>

  <% last_to_datetime = nil %>
  <% @slot_list.each do |slot| %>
      <% from_datetime = slot.from_time %>
      <% to_datetime = slot.to_time %>
      <% if last_to_datetime != nil && last_to_datetime!= from_datetime %>
          <tr>
            <td colspan="4"></td>
          </tr>
      <% end %>
      <% last_to_datetime = to_datetime %>
      <tr>
        <td><%= getNiceTimeString(from_datetime) %></td>
        <td><%= getNiceTimeString(to_datetime) %></td>
        <% temp_reservation = Reservation.new %>
        <% reservations = Reservation.where(event_id: getLoginEventId, student_id: @student_id, slot_id: slot.id) %>
        <% color_class = "active" %>
        <% teacher_string = "" %>
        <% if reservations.length > 0 %>
            <% reservation = reservations[0] %>
            <% if reservation.teacher_id != nil %>
                <% color_class = temp_reservation.getReservationAvailabilityColor Reservation::RESERVATION_AVAILABILITY_BOOKED %>
                <% teacher = Teacher.find(reservation.teacher_id) %>
                <% teacher_string = "%s %s (%s)" % [teacher.firstname, teacher.name, teacher.abbreviation] %>
                <% room_string = teacher.room_title %>
            <% end %>
        <% end %>
        <td class="<%= color_class %>"><strong><%= teacher_string %></strong></td>
        <td><%= room_string %></td>
      </tr>
  <% end %>

  </tbody>

</table>

<p>&nbsp;</p>
<%= link_to cockpit_print_student_reservations_path, class: 'btn btn-sm btn-primary' do %>
    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Seite drucken
<% end %>

<p>&nbsp;</p>
<%= link_to cockpit_select_student_reservations_path, class: 'btn btn-sm btn-primary' do %>
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück zur Übersicht
<% end %>
