<table class="table table-striped table-bordered" valign="middle">

    <thead>
    <tr>
	<th>Vorname</th>
	<th>Name</th>
	<th>Kurzform</th>
	<th>Email</th>
	<th>Klasse</th>
    <th>Status</th>
    </tr>
    </thead>

	<tbody>

	<% if $teacher_import_preview_list != nil %>
	    <% $teacher_import_preview_list.each do |preview_entry| %>
	        <tr>
	            <td><%= preview_entry[:firstname] %></td>
	            <td><%= preview_entry[:name] %></td>
	            <td><%= preview_entry[:abbreviation] %></td>
	            <td><%= preview_entry[:email] %></td>
	            <td><%= preview_entry[:team_title] %></td>
	            <% if preview_entry[:status] %>
	                <td><span class="label label-success"><span class="glyphicon glyphicon-ok"></span></span></td>
	            <% else %>
	                <td><span class="label label-danger"><%= preview_entry[:message].to_s %></span></td>
	            <% end %>
	        </tr>
	    <% end %>
	<% end %>

	</tbody>


</table>

