<table class="table table-striped table-bordered" valign="middle">

    <thead>
    <tr>
	<th>Code</th>
    <th>Vorname</th>
    <th>Name</th>
    <th>Email</th>
	<th>Klasse</th>
    </tr>
    </thead>

	<tbody>

	<% @students.each do |student| %>
		<tr>
		<td><%= student.code %></td>
		<td><%= student.firstname %></td>
		<td><%= student.name %></td>
		<td><%= student.email %></td>
		<td><%= student.team.title %></td>
		</tr>
	<% end %>

	</tbody>


</table>

