<%= simple_form_for :student, url: '/student_import/student_import',
                    wrapper: :vertical_form,
                    as: 'user_vertical',
                    html: { multipart: true, class: 'form-vertical' },
                    wrapper_mappings: {
	                    check_boxes: :horizontal_radio_and_checkboxes,
	                    radio_buttons: :horizontal_radio_and_checkboxes,
	                    file: :horizontal_file_input,
	                    boolean: :horizontal_boolean
                    } do |f| %>

    <%= f.error_notification %>

    <%= f.input :file, as: :file, label: 'Import-Datei' %>

    <p>&nbsp;</p>

    <%= f.button :submit, 'Schüler prüfen', name: 'check', class: 'btn btn-primary' %>

<% end %>

<p>&nbsp;</p>

<%= link_to "Schüler importieren", '/student_import/student_import', method: :post, :class => 'btn btn-warning' %>
<%= link_to "Alle bestehenden Schüler löschen", '/student_import/delete_all_students', method: :delete, data: { commit: "Alle Einträge definitiv löschen", cancel: "Abbrechen", confirm: 'Sind Sie sicher?'} , :class => 'btn btn-danger' %>
